<h3 class="widget-box--header" id="proto-plugin-block">
  <%= op_icon('icon-context icon-cart') %>
  <span class="widget-box--header-title"><%= t(:proto_plugin_name) %></span>
</h3>

<p class="widget-box--additional-info">A bunch of cute kittens from which to choose.</p>

<ul class="widget-box--arrow-links">
  <li>
    <%= link_to t(:label_kittens),
                kitten_plugin_project_kittens_path(project_id: Project.first.identifier),
                title: t(:label_kittens) %>
  </li>
</ul>

<div class="widget-box--blocks--buttons">
  <% if User.current.allowed_to?(:manage_kittens, nil, global: true) %>
    <%= link_to new_kitten_plugin_project_kitten_path(project_id: Project.first.identifier), {
      class: 'button -alt-highlight',
      aria: {label: t(:label_kitten_new)},
      title: t(:label_kitten_new)
    } do %>
      <%= op_icon('button--icon icon-add') %>
      <span class="button--text"><%= t(:label_kitten) %></span>
    <% end %>
  <% end %>
</div>
